@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    scroll-behavior: smooth;
}
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background-color: #ddd;
    border-radius: 15px;
}

::-webkit-scrollbar-thumb {
    background-color: #bbb;
    border-radius: 15px;
    width: 8px;
}

.popup {
    background: linear-gradient(100deg, #D1780E, #A05E2B,  #B13006 );
    width: 450px;
    padding: 30px 40px;
    position: absolute;
    transform: translate(-50%,-50%);
    left: 50%;
    top: 50%;
    border-radius: 8px;
    font-family: 'Poppins', sans-serif;
    display: none;
}
.popup button {
    display: block;
    margin: 0 0 20px auto;
    background-color: transparent;
    font-size: 30px;
    color: #c5c5c5;
    border: none;
    outline: none;
    cursor: pointer;
}
.popup p {
    font-size: 14px;
    text-align: justify;
    margin: 20px 0;
}
.a {
    display: block;
    width: 150px;
    position: relative;
    margin: auto;
    text-align: center;
    background-color: #EFE0BB;
    color: #fff;
    text-decoration: none;
    padding: 5px 0;
}

section {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .logo {
    position: relative;
    max-width: 80px;
}
header ul {
    position: relative;
    display: flex;
}
header ul li {
    list-style: none;
}
header ul li a {
    display: inline-block;
    color: #333;
    font-weight: 400;
    margin-left: 40px;
    text-decoration: none;
}

/* Main */

.searchm .search{
    margin: 0;
    border: 2px solid gray;
    border-radius: 3px;
    position: absolute;
    padding: 3px;
    text-align: center;
    top: 30%;
    cursor: pointer;
    left: 50%;
    width: 20%;
    font-size: 1rem;
    transform: translate(-50%, -50%);
}

/* File */

.file .drop {
    width: 80%;
}